---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import VideoStill from "../components/VideoStill.astro";
---

<MainLayout title="Forside">
  <main class="scroll-smooth">
    <div>
      <h1>Børnebiffen</h1>
    </div>
	<section class="h-100"></section>
	<video src="videos/BBsequence 01_1.mp4" autoplay muted class="fixed top-0 w-1000"></video>
    <section class="grid grid-cols-3 gap-20 m-20">
      <VideoStill src="videos/BBpreview1-cirkeline_1.mp4" />
      <VideoStill src="videos/BBpreview2-bennys.mp4" />
      <VideoStill src="videos/BBpreview3-pingu.mp4" />
      <VideoStill src="videos/BBpreview4-dogpool.mp4" />
      <VideoStill src="videos/BBpreview5-peterpedal.mp4" />
      <VideoStill src="videos/BBpreview6-piggy.mp4" />
      <VideoStill src="videos/BBpreview7-kidstv.mp4" />
      <VideoStill src="videos/BBpreview8-teletubbies.mp4" />
      <VideoStill src="videos/BBpreview9-wallace.mp4" />
      <VideoStill src="videos/BBpreview10-cars.mp4" />
    </section>
  </main>
</MainLayout>

<style></style>
