---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import VideoStill from "../components/VideoStill.astro";
---

<MainLayout>
    <video src="videos/BBsequence 01_1.mp4" muted class="fixed top-0 w-1000 blur-2xl"></video>
    <div><video class="object-fill place-self-center m-10 w-[80%] relative z-100 rounded-[45px]" src="videos/singleview-wallace.mp4" controls></video></div>
</MainLayout>